
/*
 * Liz myers
 * New Portfolio 2018
 * CSS Based upon MaterializeCSS
 */


body {
  background:#dedede;
  font-family: 'Merriweather', serif;
  font-weight:400;
  font-size:13px;
  line-height:-1em;
}

h1,h2 {
  font-weight:600;
  color:#121212;
}
nav {
  /* height:70px!important;
  padding-top:5px; */
}
.nav-text {
  font-family: 'Rubik', sans-serif;
  font-weight:500;
  font-size:1.25em;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.sub-nav {
  opacity:0;
}
.sub-nav-link:hover {
  cursor: pointer;
}
button {
  box-shadow: 0px 2px 4px #666;
}
button,
button:hover {
  border:0px solid white!important;
}
button:focus {
  background:#f52!important;
}

a .halfway-fab:hover,
a .card:hover {
  box-shadow: 0px 4px 10px #666;
}
nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
/*----------HEADER STYLES--------------*/

.brand-logo {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 48px;
}
.liz{
  font-weight:300;
  margin-left:10px;
}

/*----------PAGE STYLES--------------*/

.row {
  padding-left:-2%;;
}
.row .card {
 margin-left:-10px;
}
.page-title-heavy {
  font-size: 44px;
  font-weight:700;
}
.page-title-light {
  font-size: 44px;
  font-weight:300;
}

h4 {
  border:0px solid red;
  font-size:42px;
  line-height: 3em;
}
.stats {
  font-family: 'Rubik', sans-serif;
  font-size:15px;

}

/*----------CAROUSEL--------------*/

/* .carousel {
  background: #dedede;
  margin-top:30px;
  width:1200px;
  margin-left:14%;
}
.carousel-cell {
  width: 1200px;
  height: 600px;
  margin-right: 10px;
  background: #444;
  border-radius: 5px;
  counter-increment: gallery-cell;
} */
/* #carousel-1 {
  background: url('../img/rs-hero01.png');
  background-size: 1200px 600px;
  background-position: 0 0 contain;
}
#carousel-2 {
  background: url('../img/rs-hero01.png');
  background-size: 1200px 600px;
  background-position:0 0 contain;
}
#carousel-3 {
  background: url('../img/rs-hero01.png');
  background-size: 1200px 600px;
  background-position: 0 0 contain;
} */


.overlay {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}
.hero-slider {
  width: auto;
  height: 65vh;
  margin-top:0px;
  overflow: hidden;
  background: black;
  border:0px solid #232323;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-weight:400;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 0px 18px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
  font-weight:500;
  letter-spacing: 3px;
  color: #000;
  text-decoration: none;
  transition: all .2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 50px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0px solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #f52;
  border: 0 solid #f52;
}
.flickity-prev-next-button {
  visibility: hidden;
}
.overlay {
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.0), rgba(14, 29, 51, 0.45));
}
.subtitle {
  float:left!important;
  display:block;
  text-align:left!important;
  position:relative!important;
  color:white!important;
  font-size:1.75em!important;
  font-weight:500!important;
  line-height:1.65em;
  spacing:1em;
  top:15px!important;
  left:50px!important;
  width:100%!important;
  height:50px!important;
  opacity:0.75!important;
  border:1px solid green!important;
  visibility:hidden!important;
}

/* ----------------------------------------------
       ----------- intro text -----------
----------------------------------------------  */

.title-about-liz, {
  margin-top:100px;
  margin-bottom:50px;
  font-weight:700;
}
.title-landing {
  margin:60px 0 0px 10px;
}
.subtitle-landing {
  margin:10px 0 20px 10px;
}
a {
  color:#5572fa;
  font-weight:600;
}
.card-action-text {
  font-family: 'Rubik', sans-serif;
  font-weight:500;
  font-size: 1.2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:#5572fa;
}
.subtitle-work{
  font-family:'Rubik', sans-serif;
  font-weight:500;
  line-height:1.2em;
  margin-top:50px;
  border:0px solid green;
}
.title-work {
  position:relative;
  margin-top: 10px;
  font-weight:600;
  line-height: 1.2em;
  border:0px solid red!important;
}
.title-intro {
  margin-top:30px;
}
.work-thumb {
  position:relative;
  border:0px dotted white;
  width:100%;
  height:100%;
  overflow:hidden;
}
.subtitle-play {
  margin-bottom:50px;
}
.intro-text {
  margin-bottom:100px;
  border:0px solid white;
}
.about-liz {
  color:#232323;
  line-height: 2em;;
  font-size: 1.45em;
  line-height: 2em;
  /* padding-right:5%; */
}
.sm-img {
  width:70%;
  height:auto;
  float:right;
  margin-top:20px;
  border:0px solid red;;
}

/*----------BUTTONS--------------*/
.fas, .far, .fab {
  font-size:24pt;
}
.btn {
  background:red;
  box-shadow: 0 0 0;
  color:white;
}
button {
  color: #fff!important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #f52;
}
.indigo.accent-1 { /* resting materialScrollTop color */
  background-color: #fcab88!important;
  z-index: 10000!important;
}
.indigo.accent-1:hover{
  background-color:#f52!important;
}
ul li {
  float:left;
  margin-left:14px;
}
.view-details {
  float:right;
  display:block;
  font-face: 'Rubik', sans-serif;
  font-size:1.7em;
  color:white;
  text-align: center;
  border-radius:50%;
  height:60px;
  width:60px;
  padding:10px;
  margin-right:10px;
  margin-top:218px;
  background: #fcab88;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.view-details:hover, .view-details:hover{
  background:#f52;
}
.contact-icons {
  float:left;
  display:block;
  font-face: 'Rubik', sans-serif;
  font-size:1.7em;
  color:white;
  text-align: center;
  border-radius:50%;
  height:60px;
  width:60px;
  padding:10px;
  margin-right:10px;
  background: #fcb8ab;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.material-scrolltop {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 90px;
    left: calc(50% - 25px);
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    cursor: hand;
    border-radius: 50%;
    background-color: #fcab88;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}
.view-card:hover {
  background: #f52;
}
card:hover .view-details {
  background-color: #f52;
}
.contact-icons:hover{
  /* background-color: #C18083; */
  background-color: #f52;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}
.contact-icons{
  background:#fcab88;
}
.contact-icons:focus {
  /* background:#fcb8ab; */
  background-color: #f52;
}

.contact-icons:before,
.material-scrolltop::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    width: 0;
    border-radius: 100%;
    background: #f52;    /*CLICK COLOR */
}

.contact-icons:active::before,
.material-scrolltop:active::before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.contact-icons,
.material-scrolltop.reveal {
    width: 56px;
    height: 56px;
}
.contact-icons span,
.material-scrolltop span {
    display: block;
    font-size: 25px;
    color: #fff;
}

.material-scrolltop,
.material-scrolltop::before {
    background-image: url(icons/top-arrow.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
}
}

/*----------CARDS--------------*/

.card {
  width:90%;
  background:black;
}
.card:hover .card-image > button,
.card-image:hover > button {
  background-color: #f52!important;
}
.card-image {
  width:100%;
  height:250px;
  /* background:#8c8; */
  background:rgb(100, 105, 240, .5)
}
.animation-placeholder {
  float:left;
  position:absolute;
  display:block;
  width:100%;
  heigh:50%;
  text-align:center;
  font-size:1.4em;
  line-height:2em;
  margin-top:30%;
  color:#fff;
  border:0px solid red;
}
.card-title {
  display:block;
  border:0px solid blue;
  font-size:1.35em;
  line-height:1em;
  font-weight:600!important;
  color: #454545;
}
.card-desc {
  display: block;
  margin-top:-5px!important;
  border:0px solid blue;
  font-size:1.2em;
  font-weight:300!important;
  color: #121212;
}
.card-content{
  font-weight: 300;
  background:white;
}
.card-btn {
  font-family: 'Rubik' sans-serif!important;
  font-weight: 400;
  color:blue!important;
}
.work-cards{
  width:32%!important;
  height:100%;
  margin-right:1.25%;
  margin-bottom:130px;
}
.grid-pattern {
  background-color:#8c8;
  background-image: linear-gradient(#eee 2px, transparent 2px),
  linear-gradient(90deg, #eee 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
#work-card1 {
  background-image: url(assets/img/slide-alltag.png)0,0 no-repeat;
}
#work-card2 {
  background-image: url(assets/img/slide-alltag.png)0,0 no-repeat;
}
#work-card3 {
  background-image: url(assets/img/slide-alltag.png)0,0 no-repeat;
}

/*---------- WORK-DETAILS-PAGES --------------*/
p {
  margin-left:-10px;
  padding-left:0px;
}
.p-col-left {
  font-size:1.2em;
  line-height:1em;
  color:#232323;
  margin-top:50px;
  padding-right:5%!important;
  border:0px solid red;
}
.p-col-right {
  font-size:1.2em;
  line-height:1em;
  color:#232323;
  margin-top:38px;
  padding-right: 3%!important;
  border:0px solid red;
}
.folio-img {
  border:2px soid red;
  position:relative;
  width:100%;
  height:auto;
}
.folio-img-margin-top {
  margin-top:30px;
}
.p-title {
  font-size:1.25em;
  font-weight:600;
  line-height:1em;
  margin-top:40px!important;
  border:0px solid green;
}
.challenge {
  margin-top:-20px!important;
}
.p-desc {
  font-size: 1em;
  font-weight: 400;
  margin-top:10px;
  line-height:1.75em!important;
  padding-left:10px!important;
  opacity:0.85;
  border:0px solid blue;
}
.p-img {
  max-width:650px;
  margin-top:8px;
}
.stat {
  display:inline-block;
  font-size:1.15em;
  font-weight:400!important;
  line-height: 1.5em!important;
  color:#121212;
}
.category, .label, .stat {
  font-family:'Rubik', sans-serif;
  font-weight:500;
  line-height:0.5em!important;
}.label{
  width:70px;
}
#stats-table{
  border:0px solid red;
  margin:30px 0 0 -10px;
}
#stats-table tr {
    border:0px!important;
}
#stats-table td {
  padding:0px!important;
  margin:0px!important;
  line-height: 2em!important;
}
.category {
    margin-top:80px;
    font-size:1.1em!important;
    color:#121212;
}
.label{
  font-size: 1.1em;
}
.stat {
  font-size:1.1em;
}
#stickers {
  display:block;
  margin:100px 0 20px;
  padding: 20px 0 40px;
  background: #ccc!important;
  transition: all .5s ease-out;
}
.sticker-bkgnd{
    background: #cdcdcd;
    margin-bottom:0px;
}
.project-sticker {
  display:block;
  width:150px;
  height:100px;
  margin-right:20px;
  transition: all .5s ease;
}
.project-sticker:hover {
  background: #f52;
  transition: all .5s linear;
}
.project-sticker:focus {
  transition:none;
}
.project-thumb {
  width:150px;
  height:100px;
  margin:-1px 0 0 -7px!important;
  padding:0;
  border:0px;
  transition: all .5s linear;
}
.sticker-text {
  float:left;
  position:absolute;
  font-family: 'Rubik', sans-serif;
  font-size:.9em;
  font-weight:500;
  line-height: 4.5em;
  text-align:center;
  color:white;
  top:25%;
  left:0;
  width:100%;
  border:0px solid white;
  visibility: hidden;
}
.project-sticker:hover > img {
  /* visibility: hidden; */
  opacity: 0.1;
}
.project-sticker:hover > .sticker-text {
  visibility: visible;
}
.sticker-img {
  height:!00%;
  width:100%;
  overflow-x:hidden;
  visibility: visible;
}
.slider {
  margin:0!important;
  padding:0!important;
  padding-left:-10px!important;
}
.indicator-item {
  background: white!important;
}
.caption {
  display:block;
  font-family:'Rubik', sans-serif;
  font-weight:400;
  font-size:1em;
  color:#232323;
  width: 100%;
  text-align: center;
  margin-left:-10px;
  margin-top:-10px;
  border:0px solid black;
}

/*----------FOOTER STYLES--------------*/

.page-footer {
  height:180px;
  width:100%;
  font-family: 'Rubik', sans-serif;
  color:white;
  font-weight: 500;
  font-size:1.2em;
  margin-bottom:-20px!important;
  padding:0!important;
}
.indigo-divide {
  width:100%;
  height:20px;
  margin-top:-20px;
}
#contact {
  width:50%;
}
#copy {
  width:50%;
  font-family: 'Rubik', sans-serif;
  font-weight:400;
  font-size:0.75em;
  text-align:right;
  padding-right:2%;
  margin-top:20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.divider {
  background:white!important;
  width:100%;
  height:2px;
}


/*-------------------------------------
----------- MEDIA QUERIES -------------
-------------------------------------*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
